// Specific CSS for your home-page
.banner-home {
  display: table;
  height: auto;
  position: relative;
}

.banner-image img {
  max-width: 75%;
  height: auto;
  margin-right: 0px;
  float: right;
  position: relative;
}

.banner-info {
  background-color: grey;
  min-width: 40%;
  min-height: 70%;
  position: absolute;
  z-index: 1;
  opacity: 50%;
  overflow: auto;
  margin: auto;
  margin-top: 8%;
}

.home-body-content {
  clear: right;
}
