// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-info {
  backdrop-filter: blur(10px) saturate(163%);
  -webkit-backdrop-filter: blur(10px) saturate(163%);
  background-color: rgba(160, 160, 160, 0.47);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
  margin-top: -72px;
}

.servi-card {
  background: #3d3d3e;
}

.servicios-strip {
  height: 140px;
  color: #F9f9f9;
  align-items: center;
  justify-content: space-between;
  font-size: 2.1vw;
  line-height: 1em;
}

body {
  background: #F9f9f9;
}

.servicios-strip {
  text-align: center;
} i {
  color: #F9f9f9;
  font-size: 3.5vw;
  margin-bottom: 4px;
}


.servi-info {
  text-align: center;
  margin-right: 0;
}

.project-card {
  backdrop-filter: blur(10px) saturate(163%);
  -webkit-backdrop-filter: blur(10px) saturate(163%);
  background-color: rgba(160, 160, 160, 0.47);
  border: 1px solid rgba(255, 255, 255, 0.125);
  text-decoration: none;
}

.project-card-photo img {
    object-fit: cover;
    width: 100%;
}



.cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.cards-card {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 20px;

    > img {
        object-fit: cover;
        width: 100%;
        height: 240px;
    }
}

.cards-description {
    padding: 0 20px 10px 20px;
}

.cards-container {
  border: 1px solid rgba(0,0,0,0.1);
  margin-top: 70px;
  .categories-title { color: #3d3d3e; }
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}


// RESPONSIVENESS HOME PAGE

@media (max-width: 990px) {
  /* For a screen < 720px, this CSS will be read */
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 765px) {
  /* For a screen < 720px, this CSS will be read */
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 539px) {
  /* For a screen < 720px, this CSS will be read */
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

.category-card {
  background: white;
  padding: 14px 15px;
  border: 2px solid #3d3d3e;
  color: white;
  text-align: center;
  color: #3d3d3e;
  h3 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  &:hover {
    transition-duration: 0.15s;
    background: #F9f9f9;
    color: #d63553;
    border: 2px #F9f9f9;
    h3 { font-weight: 700; }
  }
}
