<div class="container">
  <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgc0zwco2/image/upload/v1634380533/Components/building-1510561_1280_i6a1wu.jpg);">
    <div class="container banner-reformas">
      <h1>Construcción de obra nueva</h1>
    </div>
  </div>
  <p>Obras y Contratas cuenta con una experiencia consolidada en el sector de la construcción en la Provincia de Barcelona tras más de 20 años actividad. Nuestra trayectoria y trabajos realizados son garantía de la calidad de nuestro servicio.</p>
  <p>Si nos elige como su <a href="pages/patrimonial" class="contact-clic">empresa de construcción en barcelona</a>, le ofrecemos un servicio de seguimiento continuo de las obras, donde ponemos en primer lugar la comunicación entre el cliente y los distintos profesionales que forman parte del proyecto.</p>
  <p>Nuestros operarios forman parte de la plantilla permanente de la empresa y cuentan con las sertificaciones y seguros necesarios para realizar su trabajo de manera segura y profesional.</p>


  <p>Desde el primer momento trabajaremos en conjunto para elaborar un proyecto de obra que contemple las necesidades de la obra a realizar, con el fin de llegar a un plan de accióm y presupuesto cerrado.</p>
  <p>Cuidamos cada detalle dentro de cada una de las fases del proyecto, para asegurarnos que el resultado final sea el deseado. Nuestro trabajo comprende desde la limpieza y preparación de la obra hasta la entrega llave en mano y servicio de posventa.</p>

  <h5>Cambios de uso</h5>
  <p>Recuperamos edificaciones en desuso como almacenes, oficinas, aprovechando sus instalaciones para transformarlos en viviendas, locales u oficinas. </p>

  <p>Trabajamos mediante certificaciones de cada una de las partidas a realizar, para así garantizar que no pagará por adelantado, hasta que dicha partida se encuentre completada y cumpla con los estándares de acabado. Del mismo modo, ofrecemos un servicio de posventa, dedicado a la supervisión de calidades y rectificaciones necesarias. Nuestros proveedores son empresas líderes en el sector y cuentan con oficinas físicas en Barcelona y alrededores, por lo que todos los elementos instalados por nosotros cuentan con su correspondiente garantía y servicio técnico.</p>

  <p>Si estás pensando en construir tu propia casa, local, u obtener más información, contáctanos sin compromiso haciendo <%= link_to "clic aquí.", new_contact_path, class: "contact-clic" %></p>
</div>
