<div class="container">
  <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgc0zwco2/image/upload/v1634380533/Components/building-1510561_1280_i6a1wu.jpg);">
    <div class="container banner-reformas">
      <h1>Construcción de obra nueva</h1>
    </div>
  </div>

  <p>Nuestros operarios forman parte de la plantilla permanente de la empresa.</p>

  <p>Si estás pensando en construir tu propia casa, local, u obtener más información, contáctanos sin compromiso haciendo <%= link_to "clic aquí.", new_contact_path, class: "contact-clic" %></p>
</div>
