<div class="banner-home">
  <div class="banner-info">
    <h1>Reformas integrales en Barcelona</h1>
  </div>
  <div class="banner-image">
    <%= image_tag "https://res.cloudinary.com/dgc0zwco2/image/upload/v1628705076/Components/imgcuadrodlip_gp7kqf.jpg" %>
  </div>
</div>

<div class="servicios-strip d-flex">
  <div class="servi-info">
    <h4>Nuestros servicios</h4>
  </div>
  <div class="serv-const">
    <i class="fas fa-hard-hat"></i>
    <p>Construcción</p>
  </div>
  <div class="serv-refor">
    <i class="fas fa-drafting-compass"></i>
    <p>Reformas</p>
  </div>
  <div class="serv-rehab">
    <i class="fas fa-paint-roller"></i>
    <p>Rehabilitación</p>
  </div>
</div>

<div class="container">
  <div class="home-body-content">
      <%= link_to "New article", new_article_path %>
      <% @articles.each do |article| %>
        <p><%= article.title %></p>
      <% end %>
  </div>


</div>

