<div class="container">
  <h1 class="mb-4">Sobre Obras y Contratas Patrimonial</h1>


  <p>Nuestro trabajo se basa en la experiencia técnica y la asesoría. Para que no sólo obtengas acabados de calidad, sino que también puedas invertir de manera que su patrimonio se valore al máximo. Contamos con una amplia experiencia en el sector de la construcción e inmobiliario, por lo que podemos considerar diferentes aspectos al momento de realizar una inversión, con perspectiva a futuro.</p>
  <p>Obras y Contratas ofrece un amplio catálogo de servicios, ya sea para particulares o empresas.</p>
  <p>Contamos con profesionales certificados como parte de nuestra plantilla permanente. Realizamos nosotros mismos trabajos desde paletería general, trabajos verticales, instalaciones eléctricas, fontanería, calefacción y gas, hasta refuerzos estructurales y rehabilitación de fincas.</p>
  <p>Así mismo, hemos forjado una estrecha relación con colaboradores expertos en su especialidad, fruto de los años en los que hemos trabajado juntos.</p>


  <p>Realizamos la tramitación de todo tipo de licencia de obra. Desde licencias de obras menores, hasta permisos para obras mayores, junto a su correspondiente proyecto técnico en caso de que sea necesario. Trabajamos con arquitectos colegiados, asegurándonos que todas nuestras intervenciones cumplen con la normativa establecida.</p>
</div>
