<h1>Sobre Obras y Contratas Patrimonial</h1>

<p>Contamos con profesionales certificados como parte de nuestra plantilla permanente. Realizamos nosotros mismos trabajos desde paletería general, trabajos verticales, instalaciones eléctricas, fontanería, calefacción y gas, hasta refuerzos estructurales y rehabilitación de fincas.</p>
<p>Así mismo, hemos forjado una estrecha relación con colaboradores expertos en su especialidad, fruto de los años en los que hemos trabajado juntos.</p>
