<div class="container">
  <h1 class="mb-4">Sobre Obras y Contratas Patrimonial</h1>

  <p>Obras y Contratas es una empresa dedicada a brindar servicios de construcción, reformas y reparaciones desde el año 2001. Tras haber trabajado con comunidades de propietarios y administraciones de fincas, surgió la necesidad de dar una respuesta eficaz a las diversas incidencias que ocurren en los inmuebles y el asesoramiento a los propietarios para la conservación y puesta en valor de su patrimonio.</p>
  <p>Nuestro trabajo se basa en la experiencia técnica y la asesoría. Para que no sólo obtengas acabados de calidad, sino que también puedas invertir de manera que su patrimonio se valore al máximo. Contamos con una amplia experiencia en el sector de la construcción e inmobiliario, por lo que podemos considerar diferentes aspectos al momento de realizar una inversión, con perspectiva a futuro.</p>
  <p>Obras y Contratas ofrece un amplio catálogo de servicios, ya sea para particulares o empresas.</p>
  <p>Contamos con profesionales certificados como parte de nuestra plantilla permanente. Realizamos nosotros mismos trabajos desde paletería general, trabajos verticales, instalaciones eléctricas, fontanería, calefacción y gas, hasta refuerzos estructurales y rehabilitación de fincas.</p>
  <p>Así mismo, hemos forjado una estrecha relación con colaboradores expertos en su especialidad, fruto de los años en los que hemos trabajado juntos, para ofrecer un servicio integral con profesionalidad.</p>


  <p>Realizamos la tramitación de todo tipo de licencias de obra. Desde licencias de obras menores, hasta permisos para obras mayores, junto a su correspondiente proyecto técnico en caso de que sea necesario. Trabajamos con arquitectos colegiados, asegurándonos que todas nuestras intervenciones cumplen con la normativa establecida.</p>

  <div class="marcas-banner">
    <h5>Contamos con un amplio catálogo de marcas</h5>
    <p>Trabajamos con márcas líderes a buen precio y con garantía.</p>
    <div class="marcas-logos d-flex">
      <img src="https://res.cloudinary.com/dgc0zwco2/image/upload/v1636011817/Components/silestone-logo_i60xrq.jpg" alt="Silestone">
      <img src="https://res.cloudinary.com/dgc0zwco2/image/upload/v1636013253/Components/descarga_het6kq.png" alt="Technal">
      <img src="https://res.cloudinary.com/dgc0zwco2/image/upload/v1636012837/Components/roca-logo-770_tgabml.jpg" alt="Roca">
    </div>
  </div>
</div>
