<div class="container">
  <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgc0zwco2/image/upload/v1628701937/Components/imagenflippeds_ebddv5.jpg);">
    <div class="container banner-reformas">
      <h1>Reformas Integrales</h1>
    </div>
  </div>
  <br>
  <p>Realizamos reformas integrales y parciales, tanto en viviendas, como en oficinas y locales comerciales.</p>
  <p>Contamos con más de 20 años de experiencia en el sector de la construcción. Lo asesoraremos para que pueda sacar el mejor provecho a su inversión.</p>
  <br>
  <p>Realizamos todo tipo de proyectos, teniendo en cuenta las características propias de cada uno de ellos, para encontrar la mejor propuesta a medida de cada cliente.</p>
  <p>Lo acompañamos a lo largo de todo el proceso de reforma. Para que tanto el diseño, el uso del espacio, como la funcionalidad, se adapten de la mejor manera a sus necesidades. Es por ello que contamos con una amplia gama de colaboradores y proveedores, para que en cada proyecto, sea realmente a medida.</p>

  <h5 class="mt-5 mb-4">En Patrimonial nos dedicamos a gestionar la totalidad del proceso de reforma:</h5>
  <div class="list-and-photo">
    <ul class="mb-5">
      <li>Confección de proyecto de reforma</li>
      <li>Gestión de permisos y licencias</li>
      <li>Paletería</li>
      <li>Fontanería e instalaciones eléctricas</li>
      <li>Carpintería</li>
      <li>Climatización</li>
      <li>Interiorismo</li>
      <li>Restauración de elementos de origen</li>
      <li>Gestión de residuos</li>
    </ul>

    <div class="racholas-photo mb-5">
      <img src="https://res.cloudinary.com/dgc0zwco2/image/upload/v1633539070/Components/9271122f-8467-41a3-b5e1-eb1c175ae36d_auqp3z.jpg" alt="Baldozas hidráulicas de origen en el Eixample de Barcelona restauradas.">
      <p>Baldozas hidráulicas restauradas</p>
    </div>
  </div>

  <p>Tenemos en cuenta cada aspecto de una reforma, como la seguridad, cerciorándonos de que todas las instalaciones cumplan la normativa vigente. Cuidamos la eficiencia energética de acuerdo a las necesidades y particularidades de cada vivienda o local.  </p>
  <p>Somos instaladores asociados al Gremio de Instaladores de Barcelona. Contamos con habilitación para realizar instalaciones de electricidad, gas, calefacción, fontanería, telecomunicaciones.</p>
  <div class="clima-reforma mb-5 pb-2">
    <img src="https://res.cloudinary.com/dgc0zwco2/image/upload/v1633699367/Components/0001_iql2uc.jpg" alt="Propuesta de instalación de radiadores y aire acondicionado.">
    <p class="mb-4">Plano de instalaciones de calefacción y aire acondicionado.</p>
  </div>

  <p>Si deseas reformar tu piso u obtener más información, contáctanos sin compromiso haciendo <%= link_to "clic aquí.", new_contact_path, class: "contact-clic" %></p>

</div>

