<div class="container">
  <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgc0zwco2/image/upload/v1634381925/Components/pexels-alena-darmel-7641859_o044lo.jpg);">
    <div class="container banner-reformas">
      <h1>Rehabilitación</h1>
    </div>
  </div>
  <p>Realizamos todo tipo de trabajos de rehabilitación, saneamiento, limpieza y mejora, tanto estructural como de las instalaciones de edificios, casas, oficinas, naves industriales, entre otros. Ofrecemos servicios de lampistería y paletería general, para restaurar deterioros causados por filtraciones de agua, el paso del tiempo, o realizar mejoras, como redistribución de tabiquería, colocación de aislantes térmicos y acústicos, cambios estéticos.</p>
  <ul>
    <li>Trabajos verticales</li>
    <li>Instalaciones eléctricas</li>
    <li>Inspección Técnica de Edificios (ITE)</li>
    <li>Sustitución de bajantes</li>
    <li>Reparación de filtraciones</li>
    <li>Refuerzos estructurales</li>
    <li>Cristalería</li>
    <li>Climatización</li>
    <li>Saneamiento de humedades</li>
  </ul>

  <div class="verticales-card">
    <h5>Trabajos verticales en Barcelona</h5>
    <p>Somos especialistas en trabajos verticales. Contamos con la formación, equipamiento y seguros para realizar intervenciones en altura y sitios de difícil acceso de manera segura, rápida y eficaz. Utilizamos trabajos verticales para realizar desde intervenciones puntuales, instalaciones, saneamientos, reparación de claraboyas, hasta rehabilitación de fachadas, sustitución de bajantes y retiro de amianto.</p>
  </div>

  <h5 class="mt-4">Patologías estructurales</h5>
  <p>Diagnosticamos y proponemos soluciones específicas para los distintos tipos de patologías que pueden sufrir las construcciones. Desde suciedades y erosiones, hasta refuerzos de vigas, tratamiento de hormigón, fisuras y deslizamientos.</p>

  <h5 class="mb-5 mt-5">Realizamos la tramitación de diferentes certificaciones y habilitaciones</h5>
  <div class="list-and-photo">
    <ul class="mb-5">
      <li>Boletín de instalaciones eléctricas</li>
      <li>Boletín de instalaciones de gas</li>
      <li>Boletín de instalaciones de agua</li>
      <li>Cédulo de habitabilidad</li>
      <li>Certificado de eficiencia energética</li>
      <li>Altas de suministros</li>
      <li>Cambio de uso doméstico y comercial</li>
    </ul>
    <div class="instalador-photo mb-5">
      <img src="https://res.cloudinary.com/dgc0zwco2/image/upload/v1634377098/Components/20211015_103300_page-0001_pe9d6x.jpg" alt="Certificado de instalador oficial de electricidad, gas, agua, calefacción.">
      <p>Somos instaladores oficiales.</p>
    </div>
  </div>
  <p>Trabajamos con comunidades de propietarios, empresas y particulares. Es por ello que contamos con un equipo de asesoría para tramitar toda la documentación y permisos que su caso particular requiera.</p>
  <p>Si necesitas realizar trabajos de rehabilitación, u obtener más información, contáctanos sin compromiso haciendo <%= link_to "clic aquí.", new_contact_path, class: "contact-clic" %></p>
</div>
