.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  } p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner-info {
  backdrop-filter: blur(10px) saturate(163%);
  -webkit-backdrop-filter: blur(10px) saturate(163%);
  background-color: rgba(160, 160, 160, 0.47);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
  margin-top: -130px;
}

.btn-flatt {
  background-color: #A60303;
  color: #F9f9f9 !important;
  font-weight: bold;
  margin-top: 8px;
  padding: 16px;
}

.servi-card {
  background: #3d3d3e;
}

.servicios-strip {
  height: 140px;
  color: #F9f9f9;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: 1.6vw;
  line-height: 1em;
}

.servicios-strip {
} i {
  color: #F9f9f9;
  font-size: 2vw;
  margin-bottom: 4px;
}

@media (max-width: 1000px) {
  .servicios-strip {
  } i {
    color: #F9f9f9;
    font-size: 5vw;
    margin-bottom: 3.5px;
  }
}

@media (max-width: 539px) {
  .servicios-strip {
  } i {
    color: #F9f9f9;
    font-size: 4vw;
    margin-bottom: 4px;
  }
}

.servi-info {
  text-align: center;
  margin-right: 0;
}
