.article-main-form {
  background-color:#3d3d3e;
  padding: 28px;
  margin-bottom: 36px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border: 1px solid rgba(0,0,0,0.1);
  label {
    color: #F9f9f9;
  }
}

.nested-fields {
  border: 1px solid rgba(0,0,0,0.1);
  margin-top: 70px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 28px;
  .remove_fields {
    color: #A60303!important;
    font-weight: bolder;
    position: relative;
    float: right;
    margin-right: 32px;
    margin-top: -4px;
  }
}

.form-article-btn {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 16px;
  input {
    background-color: #A60303;
    color: #F9f9f9 !important;
    font-weight: bold;
    margin-top: 8px;
    padding: 16px;
    border: none;
    border-radius: 5px 25px;
    width: 100%;
  }
}

.form-article {
  position: relative;
}

.btn-circle a {
    background: #409EA8;
    color: #F9f9f9 !important;
    width: 50px;
    height: 52px;
    padding-left: 12px;
    font-size: 36px;
    font-weight: bolder;
    text-decoration: none;
    margin-top: -50px;
    float: right;
}

.article-complete-form .new_article {
  margin-top: -32px;
}

.rich_desc {
  background-color: white!important;
  padding: 18px;
}
