.article-main-form {
  background-color:#3d3d3e;
  padding: 28px;
  margin-bottom: 36px;
  label {
    color: #F9f9f9;
  }
}

.nested-fields {
  border: 1px solid rgba(0,0,0,0.1);
  margin-top: 70px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 28px;
}
