.article-main-form {
  background-color:#3d3d3e;
  padding: 28px;
  margin-bottom: 36px;
  label {
    color: #F9f9f9;
  }
}

.nested-fields {
  border: 1px solid rgba(0,0,0,0.1);
  margin-top: 70px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 28px;
}

.form-article-btn {
  text-align: center;
  input {
    background-color: #A60303;
    color: #F9f9f9 !important;
    font-weight: bold;
    margin-top: 8px;
    padding: 16px;
    border: none;
    border-radius: 5px 25px;
    width: 75%;
  }
}

.add-item-btn a {
  background: #409EA8;
  color: #F9f9f9 !important;
  text-decoration: none;
  font-weight: bolder;
  font-size: 48px;
  border-radius: 50%;
}
