// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "trix/dist/trix";

// Your CSS partials
@import "components/index";
@import "components/footer";
@import "components/form_article";
@import "components/banner";
@import "pages/index";
@import "pages/show";
@import "pages/contacts";

body {
  background: #F9f9f9!important;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-family: 'Rubik', sans-serif;
}

h4 {
  font-family: 'Rubik', sans-serif;
}

h5 {
  font-family: 'Rubik', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit !important;;
}

a:hover{
  text-decoration: none !important;
  color: inherit !important;;
}
